<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qiao712.search.dao.KeywordMapper">
    <insert id="saveKeywords">
        INSERT INTO keyword(word)
        VALUES
        <foreach collection="keywords" item="keyword" separator=",">
            (#{keyword})
        </foreach>
    </insert>

    <insert id="saveKeyword">
        INSERT INTO keyword(word)
        VALUES (#{keyword})
    </insert>

    <select id="existsKeyword" resultType="Boolean">
        SELECT EXISTS (SELECT * FROM keyword WHERE word = #{keyword})
    </select>
</mapper>